attrs==21.4.0 ; python_version >= "3.8" and python_version < "3.11"
bandit==1.7.4 ; python_version >= "3.8" and python_version < "3.11"
black==22.1.0 ; python_version >= "3.8" and python_version < "3.11"
click==8.0.4 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.4 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32" or python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows"
docutils==0.17.1 ; python_version >= "3.8" and python_version < "3.11"
exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
flake8-annotations==2.9.1 ; python_version >= "3.8" and python_version < "3.11"
flake8-bandit==3.0.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-bugbear==22.3.20 ; python_version >= "3.8" and python_version < "3.11"
flake8-docstrings==1.6.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-polyfill==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
flake8-rst-docstrings==0.2.5 ; python_version >= "3.8" and python_version < "3.11"
flake8==4.0.1 ; python_version >= "3.8" and python_version < "3.11"
gitdb==4.0.9 ; python_version >= "3.8" and python_version < "3.11"
gitpython==3.1.33 ; python_version >= "3.8" and python_version < "3.11"
iniconfig==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
mccabe==0.6.1 ; python_version >= "3.8" and python_version < "3.11"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_version < "3.11"
numpy==1.24.2 ; python_version < "3.11" and python_version >= "3.8"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.8" and python_version < "3.11"
pathspec==0.9.0 ; python_version >= "3.8" and python_version < "3.11"
pbr==5.8.1 ; python_version >= "3.8" and python_version < "3.11"
platformdirs==2.5.1 ; python_version >= "3.8" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
pycodestyle==2.8.0 ; python_version >= "3.8" and python_version < "3.11"
pydocstyle==6.1.1 ; python_version >= "3.8" and python_version < "3.11"
pyflakes==2.4.0 ; python_version >= "3.8" and python_version < "3.11"
pygments==2.11.2 ; python_version >= "3.8" and python_version < "3.11"
pyparsing==3.0.7 ; python_version >= "3.8" and python_version < "3.11"
pytest==7.2.2 ; python_version >= "3.8" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
python-dotenv==0.19.2 ; python_version >= "3.8" and python_version < "3.11"
pytz==2022.1 ; python_version >= "3.8" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
restructuredtext-lint==1.4.0 ; python_version >= "3.8" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
smmap==5.0.0 ; python_version >= "3.8" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
stevedore==3.5.0 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.1.1 ; python_version >= "3.8" and python_version < "3.10"
